@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

//MEDIA QUERY
/* -BREAKPOINTS
    * 0 - 600px : Phone
    * 600 - 900px: Table portrait
    * 900 - 1200px: Tablet landscape
    * [1200 - 1800px]: Desktop (where our normal style applies)
    * 1800px +: Big desktop
*/
